@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
.nav {
  background-color: #9f5b3d;
  color: black;
}
.nav__container {
  width: 90%;
  margin: auto;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1em;
}
.nav__item {
  color: white;
  text-decoration: none;
}
.nav__item--ative {
  text-decoration: underline;
}
.nav__item:hover {
  color: rgba(0, 0, 0, 0.5);
}
@media (min-width: 774px) {
  .nav__container {
    justify-content: flex-end;
  }
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial";
}

.circle {
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 50%;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.circle-1 {
  animation-name: animacion1;
}
@keyframes animacion1 {
  100% {
    transform: translate(50%);
  }
}

.circle-2 {
  animation-name: animacion2;
}
@keyframes animacion2 {
  100% {
    transform: translate(100%);
  }
}

.circle-3 {
  animation-name: animacion3;
}
@keyframes animacion3 {
  100% {
    transform: translate(150%);
  }
}

.circle-4 {
  animation-name: animacion4;
}
@keyframes animacion4 {
  100% {
    transform: translate(200%);
  }
}

.circle-5 {
  animation-name: animacion5;
  animation-direction: alternate-reverse;
}
@keyframes animacion5 {
  100% {
    transform: translate(250%);
  }
}

.hero__container {
  height: calc(100vh - 70px);
  background-image: linear-gradient(#000000, rgba(0, 0, 0, 0.337254902)), url("../img/bg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero__texts {
  color: white;
}
.hero__title {
  font-size: 2.5rem;
  margin-bottom: 0.625rem;
}
.hero__paragraph {
  font-size: 1.125rem;
}

.titulo {
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  background-color: #9bcb81;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.gallery .image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery .image img {
  width: 100%;
  height: 450px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.gallery .image .title {
  margin-top: 10px;
  font-size: 18px;
  margin-top: 5px;
}
.gallery .image .subtitle {
  color: #666;
  font-size: 13px;
  font-weight: bold;
}

.div-botones {
  background-color: #60c794;
  text-align: center;
  margin-bottom: 10px;
}

.boton-1 {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 14px;
}

.boton-2 {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 14px;
}

.btn1, .btn2 {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #6ece20;
  background-color: #3ca812;
  color: #333;
}

.btn2 {
  font-size: 20px;
  padding: 15px 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", "sans-serif";
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1.7em;
}

a {
  text-decoration: none;
}

.container3 {
  margin: auto;
  max-width: 1300px;
  padding: 0 20px;
}

.large {
  font-size: 18px;
}

.display-1 {
  font-size: 6rem;
}

.btn {
  display: inline-block;
  font-size: 15px;
  padding: 12px 23px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 4px;
}
.btn-dark {
  background: #273746;
  border: 1px solid #273746;
  color: #fff;
}

#navbar3 {
  height: 12vh;
  background-color: #10a7ea;
  color: #fff;
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
#navbar3 a {
  color: #fff;
}
#navbar3 .logo {
  float: left;
  padding-top: 16px;
  font-size: 25px;
}
#navbar3 ul {
  list-style: none;
  float: right;
}
#navbar3 ul li {
  float: left;
}
#navbar3 ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#showcase {
  height: 88vh;
  padding: 120px 0;
  background: url("../img/showcase.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
#showcase h1 {
  width: 50%;
}
#showcase p {
  width: 50%;
  padding: 15px 0;
}

#acerca {
  padding: 100px 0;
}
#acerca h2 {
  text-align: center;
  padding-bottom: 50px;
}
#acerca img {
  width: 100%;
}
#acerca .about-flex {
  display: flex;
}
#acerca .about-flex-image {
  flex: 1;
}
#acerca .about-flex-description {
  flex: 1;
  padding: 20px 40px;
}

@media (max-width: 700px) {
  .display-1 {
    font-size: 4rem;
  }
  /* Navbar */
  #navbar3 {
    height: 100%;
  }
  #navbar3 .logo {
    float: none;
    text-align: center;
  }
  #showcase {
    height: 100%;
    padding: 50px 0;
  }
  #acerca {
    padding: 50px 0;
  }
  #acerca .about-flex {
    flex-direction: column;
  }
  #acerca .about-flex-description {
    text-align: center;
    padding: 20px 0;
  }
  #contacto {
    padding: 80px 0;
  }
  #contacto form {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
