$grid-columns: 3;
$grid-gap: 10px;
$border-color: #ccc;
$border-width: 1px;

@mixin img-size {
  width: 100%;
  height: 450px;
  
}
.titulo {
    text-align: center;
  }
.gallery {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  grid-gap: $grid-gap;
  background-color: darken(#b8daa5,10%);
  border: $border-width solid $border-color;
  margin-bottom: 10px;
  
  .image {
    display: flex;
    flex-direction: column;
    align-items: center;

        img {
            @include img-size;
            margin-top: 10px;
            margin-bottom: 10px;
            
        }

        .title {
            margin-top: 10px;
            font-size: 18px;
            margin-top: 5px;
        }
        .subtitle {
            color: #666;
            font-size: 13px;
            font-weight: bold;
          }
    }
}


  
    
