@use 'mixinsfunc';
$selector: '.nav';

$color1: #ff0000;
$color2: #3fb57a;



#{$selector}{

    background-color: mix($color1, $color2, 50%);
    
    color: black;

    &__container{
        width: 90%;
        margin: auto;
        height: 70px;
        @include mixinsfunc.crear-flexbox(space-evenly);
        gap: 1em;

    }

    &__item{
        color: #ffff;
        text-decoration: none;
        
        &--ative{
            text-decoration: underline;
        }

        &:hover{
            color:  rgba(black,0.5);
        }
    }

    @media (min-width:774px){
        &__container{
            justify-content: flex-end;
        }
    }
}
